@import 'colors/matugen.css';

* {
    border: none;
    border-radius: 0;
    font-family: "SF Mono", "Adwaita Sans", "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    min-height: 0;
    border-radius: 16px;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: #24283b;
    border: 1px solid #565f89;
    color: #c0caf5;
}

tooltip label {
    color: #c0caf5;
}

.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 12px;
}

#custom-launcher,
#clock,
#workspaces,
#custom-notification,
#custom-pacman,
#custom-weather,
#pulseaudio,
#battery,
#network,
#power-profiles-daemon {
    padding: 0 15px;
    margin-right: 4px;
    color: #c0caf5;
    background-color: rgba(36, 40, 59, 0.6);
    border: 1px solid rgba(86, 95, 137, 0.5);
}

#power-profiles-daemon {
    margin: 0;
}

#workspaces {
    padding: 8px 5px;
    border-radius: 40px;
    color: #c0caf5;
    background-color: rgba(36, 40, 59, 0.6);
    border: 1px solid rgba(86, 95, 137, 0.5);
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 40px;
    color: transparent;
    background-color: #565f89;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    font-size: 12px;
    min-width: 40px;
    border-radius: 40px;
    color: #24283b;
    background-color: #7aa2f7;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    font-size: 12px;
    min-width: 40px;
    border-radius: 40px;
    color: #24283b;
    background-color: #7dcfff;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    min-width: 40px;
    border-radius: 40px;
    color: #c0caf5;
    background-color: #f7768e;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}